<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="errorMsg" <%= hiddenError %>   > <%= errorMsg %> </div>
<div class="confMsg"  <%= hiddenConfirm %> > You have successfully changed your password. </div>
<div class="card">
<form action="/changePassword" method="POST">
    <label for="password">New Password</label>
    <input type="password" name="password" required>
    <label for="password">Confirm New Password</label>
    <input type="password" name="cpassword" required>
    <input type="hidden" name="email" value="<%= eml %>">
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
</div>

<%- include('partials/footer') %>
