<%- include('partials/header') %>
<%- include('partials/loggoutnavbar') %>

<div class="errorMsg" <%= hiddenError %>   > The input passwords did not match. </div>
<div class="confMsg"  <%= hiddenConfirm %> > You have successfully changed your password. </div>

<form action="/changePassword" method="POST">
    <label for="password">New Password</label>
    <input type="password" name="password" required>
    <label for="password">Confirm New Password</label>
    <input type="cpassword" name="cpassword" required>
    <input type="hidden" name="email" value="<%= eml %>">
  <button type="submit" class="btn btn-dark">Login</button>
</form>

<%- include('partials/footer') %>
