<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<%- include('partials/navbar') %>

<h1> <%= movieTitle%> </h1>
<img src=<%= moviePoster%> alt="Movie Poster For <%= movieTitle%>">
Rating: <%= movieRating %>
Description: <%= moviePlot %>
<%- include('partials/footer') %>
