<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<%- include('partials/navbar') %>

<h1 style="text-align: center"> <%= title %> </h1>
<div class="card">
  <div class="card-header">
    <img src=<%= poster %> onerror="this.src='/images/altImage.png'" style="height:500px">
  </div>
  <div class="card-body" style="color:black; text-align:center">
    Released: <%= year %> ( <%= release %> ) <br>
    Genre: <%= genre %> <br>
    Length: <%= runtime %> <br>
    Description: <br><%= plot %> <br>
    Director: <%= director %> <br>
    Rating: <%= esrb %> <br>
    <br>
    <% if (imdbRating !== ""){ %>
    <a href=<%= imdbLink %>>
      <img class="ratingsIcon" src="/images/imdbIcon.png" alt="IMDB Link">
    </a> <%= imdbRating %> <br>
    <% } %>
    <% if (metaRating !== ""){ %>
    <a href=<%= metaLink %>>
      <img class="ratingsIcon" src="/images/metaIcon.png" alt="Metacritic Link">
    </a><%= metaRating %> <br>
    <% } %>
    <% if (rtRating !== ""){ %>
    <a href=<%= rtLink %>>
      <img class="ratingsIcon" src="/images/rtIcon.png" alt="Rotten Tomatoes Link">
    </a> <%= rtRating %> <br>
    <% } %>
  </div>
  <div class="card-footer">
    <% if (rate === '0'){ %>
    This movie has not been rated by MoviesMan users previously.
    <% }else { %>
    This movie has a MoviesMan collective rating of <%= rate %>.
    <% if (rated === "Unrated"){ %>
    <br>You have not previously rated this movie before.
    <% } else if (rated !== ""){ %>
    <br>You have previously assigned this movie a rating of <%= rated %>.
    <% }} %>
    <br>
    The number of times MoviesMan users have liked this movie is <%= likes %>.
    <br><br><br>
    <div class="row">
      <% for (let d = 0; d < reviews.length; d++) {%>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            Reviewer: <a href=<%="/profile/" + reviews[d].userId%>><%= reviews[d].username%></a><br>
            Rating: <%= reviews[d].rating%><br>
          </div>
          <div class="card-body">
            <%= reviews[d].textbox %>
          </div>
        </div>
      </div>
      <% }%>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
