<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<%- include('partials/navbar') %>

<h1 style="text-align: center"> <%= title %> </h1>
<div class="card">
  <div class="card-header">
    <img src=<%= poster %> onerror="this.src='/images/altImage.png'" style="height:500px">
  </div>
  <div class="card-body" style="color:black; text-align:center">
    Released: <%= year %> ( <%= release %> ) <br>
    Genre: <%= genre %> <br>
    Length: <%= runtime %> <br>
    Description: <br><%= plot %> <br>
    Director: <%= director %> <br>
    Age Rating: <%= esrb %> <br>
    <br>
    <% if (imdbRating !== ""){ %>
    <a href=<%= imdbLink %>>
      <img class="ratingsIcon" src="/images/imdbIcon.png" alt="IMDB Link">
    </a> <%= imdbRating %> <br>
    <% } %>
    <% if (metaRating !== ""){ %>
    <a href=<%= metaLink %>>
      <img class="ratingsIcon" src="/images/metaIcon.png" alt="Metacritic Link">
    </a><%= metaRating %> <br>
    <% } %>
    <% if (rtRating !== ""){ %>
    <a href=<%= rtLink %>>
      <img class="ratingsIcon" src="/images/rtIcon.png" alt="Rotten Tomatoes Link">
    </a> <%= rtRating %> <br>
    <% } %>
  </div>
  <div class="card-footer">
    The number of times MoviesMan users have liked this movie is <%= likes %>.
    <br>
    <form method="POST" action=<%= "/movie/" + mId %>>
      <input type="hidden" id="liked" name="liked" value="<%= liked %>">
      <input type="hidden" id="mname" name="mname" value="<%= title %>">
      <input type="hidden" id="mId" name="mId" value="<%= mId %>">
      <input type="hidden" id="poster" name="poster" value=" <%= poster %> ">
      <input type="submit" value="<%= liked %>" <%= hiddenOUT %>>
    </form>
    <br><br>
    <% if (rate === '0'){ %>
    This movie has not been rated by MoviesMan users previously.
    <% }else { %>
    This movie has a MoviesMan collective rating of <%= rate %>.
    <% if (rated === "Unrated"){ %>
    <br>You have not previously rated this movie before.
    <% } else if (rated !== ""){ %>
    <br>You have previously assigned this movie a rating of <%= rated %>.
    <% }} %>

    <form method="POST" action=<%= "/movie/" + mId %> <%= hiddenOUT %>>
      <input type="hidden" id="selfRating" name="selfRating" value="selfRating">
      <!-- Select Form -->
      Rate this movie:
      <select name="choice" id="choice">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select> out of 10!<br>
      <!-- TextBox -->
      <textarea id="tReview" name="tReview" placeholder="Enter Review..." rows="4" cols="50"><%= textbox %></textarea><br>
      <input type="hidden" id="mname" name="mname" value="<%= title %>">
      <input type="hidden" id="poster" name="poster" value=" <%= poster %> ">
      <input type="submit" value="Rate">
    </form>

    <br>
    <div class="row">
      <% for (let d = 0; d < reviews.length; d++) {%>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="card">
          <div class="card-header">
            Reviewer: <a href=<%="/profile/" + reviews[d].userId%>><%= reviews[d].username%></a><br>
            Rating: <%= reviews[d].rating%><br>
          </div>
          <div class="card-body">
            <%= reviews[d].textbox %>
          </div>
        </div>
      </div>
      <% }%>
    </div>
  </div>
</div>
<%- include('partials/footer') %>
