<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<%- include('partials/navbar') %>

<div class="card" style="color:black; width:75%; left: 12.5%; text-align:center">
  <div class="card-header">
    <h1> <%= movieTitle%> </h1>
  </div>

  <div class="card-body">

    <img class="moviePoster" src=<%= moviePoster%> onerror="this.src='/images/altImage.png'" alt="Movie Poster For <%= movieTitle%>">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"> Release Year: <%= movieYear %></li>
      <li class="list-group-item"> Rating: <%= movieRating %></li>
      <li class="list-group-item"> Description: <%= moviePlot %></li>
    </ul>
    <div <%= imdbHidden %>>
      <a href=<%= imdbLink %>><img src="/images/imdbIcon.png" alt="IMDB Link" style="height: 50px; width: auto"></a>
      Rating: <%= imdbRating %>
    </div>

    <div <%= metaHidden %>>
      <a href=<%= metaLink %>><img src="/images/metaIcon.png" alt="Metacritic Link" style="height: 50px; width: auto"></a>
      Rating: <%= metaRating %>
    </div>

    <div <%= rotHidden %>>
      <a href=<%= rotLink %>><img src="/images/rtIcon.png" alt="Rotten Tomatoes Link" style="height: 50px; width: auto"></a>
      Rating: <%= rotRating %>
    </div>
  </div>
  <!-- Like Button Redirect Here-->
  <div class="card-footer">
    <form method="POST" action=<%= "/movie/" + mId %>>
      <div> Number of People who have Liked this movie: <%= likeCount %>. </div>
      <input type="hidden" id="liked" name="liked" value="<%= likeOpt %>">
      <input type="hidden" id="mname" name="mname" value=" <%= movieTitle %> ">
      <input type="hidden" id="poster" name="poster" value=" <%= moviePoster %> ">
      <input type="submit" value="<%= likeText %>" <%= hiddenOUT %>>
    </form>
    <!-- Rating List - Redirect Here -->
    <form method='POST' action=<%= "/movie/" + mId %>>
      <input type="hidden" id="mname" name="mname" value=" <%= movieTitle %> ">
      <div> Number of People who have rated this movie: <%= rateCount %>.</div>
      <div> The average rating of this movie is <%= avgRATING %>.</div>
      <div <%= hiddenRating %>> You've previously rated this <%= previouslyRated %>.</div>
      <label for="selfRating" <%= hiddenOUT %>>Choose a Rating:</label><br>
      <select id="selfRating" name="selfRating" <%= hiddenOUT %>>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
      </select>
      <br>
      <textarea id="mReview" name="mReview" rows="5" cols="50" <%= hiddenOUT %>>
      </textarea>
      <input type="submit" value="Rate" <%= hiddenOUT %>>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
