<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<%- include('partials/navbar') %>

<h1> <%= movieTitle%> </h1>
<img src=<%= moviePoster%> alt="Movie Poster For <%= movieTitle%>">
<br>
Release Year: <%= movieYear %>
<br>
Rating: <%= movieRating %>
<br>
Description: <%= moviePlot %>
<br>

<div <%= imdbHidden %>>
<a href=<%= imdbLink %>>IMDB</a> Rating: <%= imdbRating %>
<br>
</div>

<div <%= metaHidden %>>
<a href=<%= metaLink %>>MetaCritic</a> Rating: <%= metaRating %>
<br>
</div>

<div <%= rotHidden %>>
<a href=<%= rotLink %>>Rotten Tomatoes</a> Rating: <%= rotRating %>
</div>




<%- include('partials/footer') %>
