<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<%- include('partials/navbar') %>
<h1 style="text-align:center"><%= profuser %>'s page</h1>
<h3 style="text-align:center"><%= profuser %>'s Likes</h3>
<% if (likes.length == 0){ %>
This user has not liked any movies.
<%} else {%>
<div class="row" style="width:100%">
  <%for (let u = 0; u < likes.length; u++){ %>
  <div class="col-lg-3 col-md-6 col-sml-12">
    <div class="card" style="height: 425px">
      <div class="card-header">
        <a href=<%=  process.env.HTTPSURL + "/movie/" + likes[u].imdbID %>>         <%= likes[u].title %> </a>
      </div>
      <div class="card-body">
          <a href=<%=  process.env.HTTPSURL + "/movie/" + likes[u].imdbID %>> <img class="rbImg" src=<%= likes[u].poster %> onerror="this.src='/images/altImage.png'"> </a>
      </div>
      <div class="card-footer">
        Unlike
      </div>
    </div>
  </div>
  <%  } %>
</div>
<%} %>
<br>
<h3 style="text-align:center"><%= profuser %>'s Ratings</h3>
<% if (rates.length == 0){ %>
This user has not rated any movies.
<%} else {%>

<%} %>
<%- include('partials/footer') %>
