<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<%- include('partials/navbar') %>
<h4><%= profuser %>'s page</h4>
<h3><%= profuser %>'s Likes</h3>
<div>
  </div>
<h3><%= profuser %>'s Ratings</h3>
<div>
  </div>
<%- include('partials/footer') %>
