<%- include('partials/header') %>
<!-- Should probably show recent / recent popular movies -->
<%- include('partials/navbar') %>
<h1> Search Page </h1>
<div class="errorMessage" <%= errHidden %>> There were no results. </div>
<form action="/search" method="GET">
    <label for="title">Name of Movie:</label>
    <input type="input" name="title" required>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>

<ul>
<% for(var i = 0; i < sResults.length; i++) { %>
<% if (sResults[i].type === "movie"){ %>
  <div class="resultBox">
    <div class="resultBoxHalf">
      <img class="rbImg" src=<%= sResults[i].poster %> onerror="this.src='/images/altImage.png'">
    </div>
    <div class="resultBoxHalf">
          <a href= <%=  process.env.HTTPSURL + "/movie/" + sResults[i].imdbid %> > <%= sResults[i].title %> </a>
          <li> <%= sResults[i].year %> </li>
      </div>
  </div>

<% }} %>
</ul>

<%- include('partials/footer') %>
